    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>Cloud Link changer</title>
        <meta name="author" content="SCLemon">
        <meta name="description" content="協助網頁開發者使用雲端硬碟存放圖片時，可以直接將圖片檔案分享連結轉換成網頁上可呈現的圖片網址，亦即轉換為<img src='imgUrl'/> 中的 imgUrl，可以在無本地或私有資料庫時，將雲端硬碟建立為資料庫使用。">
        <meta name="keywords" content="link, cloud link, link change, cloud link change">

        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="🚀 Cloud Link changer">
        <meta name="twitter:description" content="協助網頁開發者使用雲端硬碟存放圖片時，可以直接將圖片檔案分享連結轉換成網頁上可呈現的圖片網址，亦即轉換為<img src='imgUrl'/> 中的 imgUrl，可以在無本地或私有資料庫時，將雲端硬碟建立為資料庫使用。">
        <meta name="twitter:site" content="@">
        <meta name="twitter:creator" content="@">
        <meta name="twitter:image" content="https://img.onl/hueqdD">

        <!-- Open Graph general (Facebook, Pinterest)-->
        <meta property="og:title" content="🚀 Cloud Link changer">
        <meta property="og:description" content="協助網頁開發者使用雲端硬碟存放圖片時，可以直接將圖片檔案分享連結轉換成網頁上可呈現的圖片網址，亦即轉換為<img src='imgUrl'/> 中的 imgUrl，可以在無本地或私有資料庫時，將雲端硬碟建立為資料庫使用。">
        <meta property="og:url" content="https://sc1314520.github.io/CloudLinkChanger/">
        <meta property="og:site_name" content="sc1314520.github.io">
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://img.onl/hueqdD">

        <!-- https://realfavicongenerator.net -->

        <!-- CSS -->

        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/index.css">
        <script src="js/vue.js"></script>
        <script src="js/index.js"></script>
        <link rel="icon" href="exchange-change-svgrepo-com.svg">
        <title>雲端連結轉換器</title>
    </head>
    <body>
        <div id="box">
            <div class="form">
                <h1>雲端連結轉換器</h1>
                <p>將雲端硬碟中的檔案連結轉為網頁元素連結</p>
                <h3>請輸入檔案分享連結：</h3>
                <input type="text" v-model="before"><br>
                <button @click="change()">開始轉換</button><br>
                <div v-if="showform">
                    <h3>獲取轉換結果：</h3>
                    <span v-text="link" v-if="showif"></span>
                    <h4 v-else class="error">資料查詢網址錯誤</h4>
                    <div>
                        <h3>圖片預覽：</h3>
                        <img :src="link" :alt="alt">
                    </div>
                    <h3>原始檔案預覽：</h3>
                    <div class="ifbox"> 
                        <iframe :src="link" frameborder="0" v-if="showif==true"></iframe>
                    </div>
                </div>
            </div>     
        </div>
    </body>
    </html>